{% if page.comments %}
<script src="https://giscus.app/client.js"
        data-repo="lazyike/lazyike.github.io"
        data-repo-id="R_kgDON6arRA"
        data-category="Announcements"
        data-category-id="DIC_kwDON6arRM4CnBYp"
        data-mapping="title"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="light"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>
{% endif %}
